@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}
body{color: #6b6b6b}

.login-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 xmlns:xlink=%27http://www.w3.org/1999/xlink%27 preserveAspectRatio=%27xMidYMid%27 width=%2720%27 height=%2720%27 viewBox=%270 0 20 20%27 stroke=%27none%27 fill=%27%23919191%27%3E %3Cpath d=%27M20.000,16.333 C20.000,18.123 18.406,20.000 16.667,20.000 C16.667,20.000 3.333,20.000 3.333,20.000 C1.594,20.000 -0.000,18.123 -0.000,16.333 C-0.000,12.390 2.594,10.285 6.038,9.445 C4.774,8.918 3.987,7.935 4.000,6.111 C4.024,2.786 6.692,0.010 10.003,0.010 C13.315,0.010 16.000,2.786 16.000,6.111 C16.000,7.936 15.173,8.905 13.896,9.427 C17.373,10.256 20.000,12.364 20.000,16.333 ZM14.000,5.500 C14.000,3.567 12.209,2.000 10.000,2.000 C7.791,2.000 6.000,3.567 6.000,5.500 C6.000,7.433 7.791,9.000 10.000,9.000 C12.209,9.000 14.000,7.433 14.000,5.500 ZM10.000,11.000 C5.830,11.000 2.000,12.255 2.000,15.667 C2.000,16.805 3.275,18.000 4.667,18.000 C4.667,18.000 15.333,18.000 15.333,18.000 C16.725,18.000 18.000,16.805 18.000,15.667 C18.000,12.255 14.170,11.000 10.000,11.000 Z%27 id=%27path-1%27 class=%27cls-2%27 fill-rule=%27evenodd%27/%3E %3C/svg%3E");
}

.search-input{box-shadow:0 0 5px #666}
.box{border:1px solid #ebebeb;border-radius:6px;padding:15px;padding-top:70px;}
.box:before{position:absolute;content:attr(data-title);left:50%;top:0%;transform:translate(-50%,-50%);width:99px;height:99px;border-radius:99px;background:#fff;color:#137296;box-shadow:0 0 3px #ccc;text-align:center;vertical-align:middle;transition:all 300ms ease-out 0s;font:600 50px/99px 'Montserrat', sans-serif;}
.box:hover:before{background:#137296;color:#fff;box-shadow:0 0 3px #137296;}
.footer-links ul li{ padding:5px 0 0;}
.footer-links ul li a{font:400 14px/20px 'Montserrat', sans-serif;color:#000;display:block;}
.footer-links ul li a:hover{color:#137296;}
.footer-bottom ul.social{ display:table; margin:30px auto 0;}
.footer-bottom ul.social li{ display:inline-block; padding:0 3px;}
.footer-bottom ul.links-nav{ display:table; margin:9px auto;}
.footer-bottom ul.links-nav li{ display:inline-block; position:relative; font:500 14px/16px 'Montserrat', sans-serif;}
.footer-bottom ul.links-nav li a{ padding:0 18px; color:#000;}
.footer-bottom ul.links-nav li+li:before{ content:"|";}
.footer-bottom p{ color:#000; font:500 14px/16px 'Montserrat', sans-serif;}
@media only screen and (max-width: 420px) {
    .footer-bottom ul.links-nav li a {  padding: 0 10px;}
}
.scroll-top-top{position:fixed;opacity:0;bottom:24px;right:24px;display:inline-block;background:#137296;color:#fff;border-radius:5px;padding:10px 10px;font-size:1.25em;line-height:1;}
.scroll-top-top:hover{background-color:#0b5672;color:#ffffff;}
.si{display:inline-block;height:1em;width:1em;overflow:visible;vertical-align:-0.125em;}
.acc-item{overflow:hidden;position:relative;}
.acc-content{max-height:0;opacity:0;padding:0 20px;transition: all 350ms;}
.acc-input{width:1px;height:1px;opacity:0;position:absolute;left:0;}
.acc-label{display:flex;justify-content:space-between;align-items:center;padding:10px 20px;user-select:none;cursor:pointer;border-radius:5px;background-color:#137296;color:#ffffff;}
.acc-label .si{transition: transform 200ms ease;}
.acc-input:checked ~ .acc-label .si{transform:rotate(45deg);}
.acc-input:checked ~ .acc-content{max-height:50vh;padding:10px 20px;opacity:1;}


@media(min-width:1200px){
    .container {max-width:1230px !important;}
}