@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}
body{color: #6b6b6b}
.search-input{box-shadow:0 0 5px #666}
.box{border:1px solid #ebebeb;border-radius:6px;padding:15px;padding-top:70px;}
.box:before{position:absolute;content:attr(data-title);left:50%;top:0%;transform:translate(-50%,-50%);width:99px;height:99px;border-radius:99px;background:#fff;color:#137296;box-shadow:0 0 3px #ccc;text-align:center;vertical-align:middle;transition:all 300ms ease-out 0s;font:600 50px/99px 'Montserrat', sans-serif;}
.box:hover:before{background:#137296;color:#fff;box-shadow:0 0 3px #137296;}
.footer-links ul li{ padding:5px 0 0;}
.footer-links ul li a{font:400 14px/20px 'Montserrat', sans-serif;color:#000;display:block;}
.footer-links ul li a:hover{color:#137296;}
.footer-bottom ul.social{ display:table; margin:30px auto 0;}
.footer-bottom ul.social li{ display:inline-block; padding:0 3px;}
.footer-bottom ul.links-nav{ display:table; margin:9px auto;}
.footer-bottom ul.links-nav li{ display:inline-block; position:relative; font:500 14px/16px 'Montserrat', sans-serif;}
.footer-bottom ul.links-nav li a{ padding:0 18px; color:#000;}
.footer-bottom ul.links-nav li+li:before{ content:"|";}
.footer-bottom p{ color:#000; font:500 14px/16px 'Montserrat', sans-serif;}
@media only screen and (max-width: 420px) {
    .footer-bottom ul.links-nav li a {  padding: 0 10px;}
}
.scroll-top-top{position:fixed;opacity:0;bottom:24px;right:24px;display:inline-block;background:#137296;color:#fff;border-radius:5px;padding:10px 10px;font-size:1.25em;line-height:1;}
.scroll-top-top:hover{background-color:#0b5672;color:#ffffff;}
.si{display:inline-block;height:1em;width:1em;overflow:visible;vertical-align:-0.125em;}
.acc-item{overflow:hidden;position:relative;}
.acc-content{max-height:0;opacity:0;padding:0 20px;transition: all 350ms;}
.acc-input{width:1px;height:1px;opacity:0;position:absolute;left:0;}
.acc-label{display:flex;justify-content:space-between;align-items:center;padding:10px 20px;user-select:none;cursor:pointer;border-radius:5px;background-color:#137296;color:#ffffff;}
.acc-label .si{transition: transform 200ms ease;}
.acc-input:checked ~ .acc-label .si{transform:rotate(45deg);}
.acc-input:checked ~ .acc-content{max-height:50vh;padding:10px 20px;opacity:1;}


@media(min-width:1200px){
    .container {max-width:1230px !important;}
}